.PatientDashboard{
    width: 90vw;
    align-self: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Header{
    background: none;
    display: flex;
    align-items: center;
    min-width: 450px;
    width: 100%;
    justify-content: space-around;
    border-bottom: 2px rgba(68, 53, 141, 0.355) solid;
    height: 150px;
}
.Header p{
    color: rgb(10, 237, 237);
    width: 17%;
}
.Header button{
    background-color: rgb(188, 40, 40);
    width: 6%;
    min-width: 70px;
    height: 25%;
    border-radius: 10px;
}
.Header button:hover{
    cursor: pointer;
    background-color: green;
    transform: scale(1.2);
}

.Content{
    min-height: 400px;
    margin: 0px 20px ;
    padding: 10px 0px;
    gap: 40px;
}
.ContentOne{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.ContentOne .serbutton{
    border: 1px solid rgb(32, 31, 31);
    height: 40px;
    width: 80px;
    color: black;
    background-color: rgb(137, 136, 136);
}
.ContentOne .serbutton:hover{
    background-color: rgb(34, 101, 34);
    cursor: pointer;
    transform: scale(1.1);
}

.ContentOne input{
    width: 60%;
    min-width: 300px;
    border-radius: 10px;
    padding-left: 20px;
    border: 2px solid white;
}
.Loc{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: auto;
}
.Loc button{
    border: 2px solid rgba(153, 12, 181, 0.362);
    border-radius: 10px;
    background-color: rgba(40, 127, 124, 0.659);
    height: 40px;
}
.HospitalContainer{
    background-color: rgb(36, 36, 32);
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
}
.Card{
    max-width: 400px;
    background-color: violet;
    width: 29%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    gap: 10px;
}
.Card:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.doctors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.detail{
    display: flex;
    margin: 10px 0px;
    justify-content: space-around;
    flex-direction:row ;
    gap: 10px;
}
.doctor{
    background-color: orange;
    max-width: 300px;
    padding-top: 100px;
    padding-bottom: 50px;
    min-width: 250px;
    width: 28%;
}
.aiBtn{
    width: 90px;
    background-color: green;
    border: 2px solid white;
    border-radius: 20px;
}
.aiBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.res{
    margin-top: 20px;
    padding: 50px;
    border: 2px solid white;
    border-radius: 20px;
}
.back{
    align-self: flex-start;
    height: 40px;
    width: 80px;
}
.ask:hover,.back:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.inp{
    margin: 20px 10px 0px 10px;
    height: 40px;
    width: 50%;
}
.ask{
    border: none;
    background-color: rgb(48, 65, 28);
    height: 40px;
    width: 80px;
}